services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: wallbit
      POSTGRES_PASSWORD: wallbitpass
      POSTGRES_DB: wallbitdb
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
